# Dependencies
node_modules/

# Build
dist/
build/

# Logs
logs
*.log

# Environment
.env
.env.*

# Prisma
prisma/dev.db

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/

# Vite
frontend/dist/

# NestJS
backend/dist/

https://github.com/Bashitha123-gif/vehicle-parts-inventory-system

git remote add origin https://github.com/Bashitha123-gif/vehicle-parts-inventory-system.git